.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.swp
*.swo
*~
.vscode/
.idea/
*.iml

*.circ.bak
*.circ~

*.bit
*.bin
*.rpt
*.jou
*.log
*.str
*.xpr
*.xise
*.xst
*.ngc
*.ngd
*.ncd
*.pcf
*.ucf
*.vcd
*.wcfg
*.wdb
*.xwbt
*.xwbtx
*.xwbtx~

build/
synth/
impl/
ip/
ip_user_files/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.runs/
*.sdk/
*.sdk_workspace/

*.tmp
*.temp
*.bak
*.backup
*#
